{% if site.data.navigation %}
<nav>
  {% for item in site.data.navigation %}
  <style>
    .cp_navi {
    	background-color: #ffffff;
	  	border: 1px solid #dedede;
	  	border-radius: 4px;
  		box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  		color: #888888;
  		display: block;
  		margin: 1em 1%;
  		overflow: hidden;
  		width: 980px;
  	}
  	.cp_navi ul {
	  	margin: 0;
  		padding: 0;
  	}
  	.cp_navi ul li {
	  	display: inline-block;
	  	list-style-type: none;
	  	-webkit-transition: all 0.2s;
	    transition: all 0.2s;
  	}
  	.cp_navi > ul > li > a > .caret {
	  	border-top: 4px solid #aaaaaa;
	  	border-right: 4px solid transparent;
	  	border-left: 4px solid transparent;
  		content: '';
  		display: inline-block;
	  	height: 0;
	  	width: 0;
	  	vertical-align: middle;
	  	-webkit-transition: color 0.1s linear;
	    transition: color 0.1s linear;
  	}
  	.cp_navi > ul > li > a {
	  	color: #aaaaaa;
	  	display: block;
	  	line-height: 56px;
	  	padding: 0 10px;
	  	text-decoration: none;
  	}
  	.cp_navi > ul > li:hover {
	  	background-color: #0366d6;
  	}
  	.cp_navi > ul > li:hover > a {
	  	color: rgb( 255, 255, 255 );
  	}
  	.cp_navi > ul > li:hover > a > .caret {
	  	border-top-color: rgb( 255, 255, 255 );
  	}
  	.cp_navi > ul > li > div {
	  	background-color:  #0366d6;
  		border-top: 0;
	  	border-radius: 0 0 4px 4px;
	  	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	  	display: none;
	  	margin: 0;
	  	opacity: 0;
	  	position: absolute;
    	width: 165px;
	  	visibility: hidden;
	  	-webkit-transiton: opacity 0.2s;
	  	transition: opacity 0.2s;
  	}
  	.cp_navi > ul > li:hover > div {
	  	display: block;
	  	opacity: 1;
	  	visibility: visible;
  	}
  	.cp_navi > ul > li > div ul > li {
	  	display: block;
  	}
  	.cp_navi > ul > li > div ul > li > a {
	  	color: #ffffff;
	  	display: block;
	  	padding: 12px 24px;
	  	text-decoration: none;
  	}
  	.cp_navi > ul > li > div ul > li:hover > a {
	  	background-color: rgba( 255, 255, 255, 0.1);
  	}
  </style>

  <div class="cp_navi"><ul>
    <li>
      <a href="{{ item.link }}" {% if page.url == item.link %}style="font-weight: bolder;"{% endif %}>
        {{ item.name }}
      </a>
    </li>
  </ul>
  </div>
  {% endfor %}
</nav>
{% endif %}
